Host *
# vim:tw=0:ts=4:sw=4:noet:nospell:ft=sshconfig

ServerAliveInterval 60

Host github.com
	HostName github.com
	IdentitiesOnly yes
	User {{ zoidy_homefries_github_user }}
	IdentityFile {{ ansible_env.HOME }}/.ssh/{{ zoidy_homefries_github_file }}

